<nav class="navbar fixed-top navbar-expand-lg dest-nav navbar-dark indigo">
  <a class="navbar-brand" href="/home">AMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/T_Attendance_view">View Attendance</a>
      </li>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<br> 
<%- include('./partials/messages.ejs'); %>
<div class="card card-body text-center">
<h4>Attendance</h4><br></h4>
  <form method="post" action="/users/attendance">
    <div class="dates">
      <label>Date </label>
      <input type="text" autocomplete="off" id="user1" class="form-control" placeholder="dd-mm-yy" name="date"><br>
     </div>

      
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">s.no</th>
          <th scope="col">Student</th>
          <th scope="col">Attendance</th>
        </tr>
      </thead>
    <tbody>
    <% if (typeof usersArray !== 'undefined' && usersArray.length > 0) {%>
     <%for (var i = 0; i < usersArray.length; i++) { %>
      <%for (var j = 0; j < usersArray[0].n_students; j++) { %>
          <tr>
            <th scope="row"><%= (j+1) %></th>
            <td><%= usersArray[i].attendance[j].name %></td>
            <td><input type="text" placeholder="0/1" name="value" required></td>
          </tr>
       <%}%>
     <%}%>
    <% } %>
    </tbody>
    </table>
    <button class="btn btn-info" type="submit">submit</button>
     </form>
    </div>
   </div>
  </div>
 </div>
</div>
<br>