
<div class="row mt-5">
    <div class="col-md-6 m-auto">
    
<!-- Default form login -->
<form class="text-center border border-light p-5" action="/users/login" method="POST">

    <p class="h4 mb-4">Sign in</p>
    <%- include('./partials/messages.ejs'); %>
   <div class="card card-body text-center">
    <!-- Email -->
    <input type="text" id="defaultLoginFormID" class="form-control mb-4" name="email" placeholder="ID" value="<% typeof email != 'undefined' ? email : '' %>">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" name="password" placeholder="Password" value="<% typeof password != 'undefined' ? password: '' %>">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="#">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Login</button>
</div>
</form>
<!-- Default form login -->
</div>
</div>

