
<nav class="navbar fixed-top navbar-expand-lg dest-nav navbar-dark indigo">
  <a class="navbar-brand" href="/Student">AMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Student">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<div class="card card-body text-center">
<h4>Attendance</h1><br>
<h1><%= usersArray[0].result[0].name %></h1>

<table id="example"class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Department</th>
        <th scope="col">Date(MM/DD/YY)</th>
        <th scope="col">Attendance(0/1)</th>
      </tr>
    </thead>
    <tbody>
        <% if (typeof usersArray !== 'undefined' && usersArray.length > 0) {%>
            <%for (var i = 0; i < usersArray[0].result[0].status.length; i++) { %>
            <tr>
              <td><%= usersArray[0].department %></td>
              <td><%= usersArray[0].result[0].status[i].date %></td>
              <td><%= usersArray[0].result[0].status[i].value %></td>
            </tr>
            <%}%>
          <% } %>
    </tbody>
  </table>
 </div>




