<nav class="navbar fixed-top navbar-expand-lg dest-nav navbar-dark indigo">
  <a class="navbar-brand" href="/Student">AMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Student">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
  
<div class="card card-body text-center">
<h1 class="mt-4">Home</h1>
<p class="lead mb-3">Welcome <%= name %>

<form action="/users/Student_view" method="POST">
<!--Dropdown primary-->
<div class="dropdown">

    <!--Trigger-->
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" >Department</button>
         
    <!--Menu-->
    <div class="dropdown-menu dropdown-primary">
       <% if (typeof Array !== 'undefined' && Array.length > 0) {%>
          <%for (var i = 0; i < Array.length; i++) { %>
            <button class="dropdown-item" value="<%= Array[i].department %>" name="department" onclick="location.href = 'Student_view.ejs';"><%= Array[i].department %></button>
          <%}%>
        <% } %>
    </div>
  </div>
  <!--/Dropdown primary-->
</form> 


</div>
</div>
</div>

