
<nav class="navbar fixed-top navbar-expand-lg dest-nav navbar-dark indigo">
  <a class="navbar-brand" href="/home">AMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/attendance">Enter Attendance</a>
      </li>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<h4>Student Attendance</h4><br>

<table id="example"class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Student name</th>
      <th scope="col">Date(MM/DD/YY)</th>
      <th scope="col">Attendance(0/1)</th>
    </tr>
  </thead>
  <tbody>
      <% if (typeof usersArray !== 'undefined' && usersArray.length > 0) {%>
          <%for (var i = 0; i < usersArray[0].attendance.length; i++) { %>
            <%for (var j = 0; j < usersArray[0].attendance[i].status.length; j++) { %>
          <tr>
            <td><%= usersArray[0].attendance[i].name %></td>
            <td><%= usersArray[0].attendance[i].status[j].date %></td>
            <td><%= usersArray[0].attendance[i].status[j].value %></td>
          </tr>
           <%}%>
          <%}%>
        <% } %>
  </tbody>
</table>
<button class="btn btn-secondary" id="btnexport" >Export</button>




